{% extends 'parkinson_app/master_layout.html' %}
{% load static %}

{% block titleContent %}
    <title>Login</title>
{% endblock %}

{% block mainContent %}

<div class="container d-flex justify-content-center">

    <div class="col-lg-10 col-md-12 col-sm-12">
        <div class="mt-2 mb-5">
            <div class="main-container d-flex shadow" style="height: 500px;">
                <div class="col-lg-8">
                    <div class="container" style="color: #04174F;">
                        <div class="mt-5">
                            <div style="text-align: center;">
                                <h3>
                                    <strong>
                                    Welcome Back!
                                    </strong>
                                </h3>
                            </div>
                            <div class="pl-5 pr-4 mt-4 ml-2">
                                <div style="font-size: small;">
                                    <span>
                                        Login to you existing account by providing the information
                                        below.
                                        
                                        {% if messages %}
                                            {% for message in messages %}
                                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                                    <br>
                                                    <span class="text-danger">
                                                        Email or Password error!
                                                    </span>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="mt-3" style="font-size: small;">
                                    <form method="POST" action="{% url 'parkinson_app:login' %}">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="col">
                                                <div style="width: 90%;">
                                                    <label for="" style="font-weight: 600;">Email</label>
                                                    <input type="email" class="form-control custom-input-styling" name="email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row mt-3">
                                            <div class="col">
                                                <div style="width: 90%;">
                                                    <label for="" style="font-weight: 600;">Password</label>
                                                    <input type="password" class="form-control custom-input-styling" name="password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-2">
                                            Forget Password?
                                        </div>
                                        <div class="mt-3">
                                            <button type="submit" class="btn1 btn-primary1" style="font-size: small;">Login</button>
                                        </div>
    
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 border color-side-login">
                    <div class="vertical-center p-3" style="text-align: center; font-size: small;">
                        <h3><strong>Create Account</strong></h3>
                        <p>
                            Don't have an account, create a new account and get access to all
                            existing features
                        </p>
                        <a class="btn1 btn-light bg-light" href="{% url 'parkinson_app:signup' %}">Signup</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}